<html>
    <head>
        <link rel="stylesheet" href="css/view.css">
        <link rel="stylesheet" href="css/head.css">
    </head>
    <body>
        <%- include('include/head') %>
        <div class=""tab>
            <form method="get">
                <div class="table-data">
                    <h2>Display AIRPORTS</h2>
                    <table border="1">
                        <tr>
                            <th>AIRPORT NAME</th>
                            <th>STATE</th>
                            <th>COUNTRY</th>
                            <th>CITY NAME</th>
                        </tr>
                        <% if(data.length){ 
                        for(var i = 0;i < data.length;i++) { %>
                        <tr>
                            <td><%=data[i].AP_NAME%></td>
                            <td><%=data[i].STATE%></td>
                            <td><%=data[i].COUNTRY%></td>
                            <td><%=data[i].CNAME%></td>
                        </tr>
                        <% }
                        }else{ %>
                        <tr>
                            <td colspan="4">No user</td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </form>
        </div>
    </body>
</html>